body {
	background-color: #EAF2EF;
}


#container {
	box-sizing: border-box;
	background-color: grey;
	width: 1200px;
}
.calculator {
	display: flex;
	flex-direction: column;
	background-color: #1f1f4d;	
    width: 47%;
    align-items: center;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px;
}

#fixed-result{
	width : 520px;
	height: 100px;
	background-color: white;
	border: 1px solid; 
	border-radius: 20px;
}

button {
	padding: 10px;
	margin: 4px;
	width: 120px;
	margin-top: 10px;
	background-color: #1f1f4d;
}
button:hover {

}

#picture {
	width: 100%;
	height: 130px
}
#header {
	 text-align: center;
	text-transform: uppercase; 
	font-family: "Times New Roman", Times, serif;
}

.value {
	color:#2E382E;
	font-size: 60px;
}
.operater {
	color:#cc8822;
	font-size: 60px;

}
.result {
	margin-top: 5px; 
	width : 200px;
	background-color: #FFFFFF00;
	color: black;
	font-size: 40px;
	padding-left: 15px;
    padding-top: 10px;
	border-style: 1px solid #0075F2;
}
 .value, .operater {
 	border-radius: 20px;
 }

 #zero {
     width: 255px;
 }








