#container {
	box-sizing: border-box;
	background-color: lightblue;
	width: 1200px;
}
.calculator {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	background-color: blue;	
}
.calculator > div {
	width: 150px;	
	background-color: grey;
	margin: 10px;
	/*height: 400px;*/
}
/*.row-1, .row-2, .row-3 , .operators {
	background-color: blue;
	width: 150px;
	height: 250px;
	margin: 10px;
	box-sizing: border-box; 
}*/